

.presentation{
	margin: 30px 0px 20px 40px;
	font-size:25px;
}
.presention{
	margin: 15px 40px 15px 300px;
}
.search{
	margin: 30px 0px 20px 0px;
}
.geshou {
	margin: 47px 0px 20px 20px;
}
.presention1{
	margin: 30px 40px 15px 30px;
}