<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QQMusic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.qqmusic.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.qqmusic.web.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/loginout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.qqmusic.web.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.qqmusic.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.qqmusic.web.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.qqmusic.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>LoginAPI</servlet-name>
    <servlet-class>com.qqmusic.webapi.LoginAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAPI</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegAPI</servlet-name>
    <servlet-class>com.qqmusic.webapi.RegAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegAPI</servlet-name>
    <url-pattern>/api/reg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetAllUser</servlet-name>
    <servlet-class>com.qqmusic.webapi.GetAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUser</servlet-name>
    <url-pattern>/api/getalluser</url-pattern>
  </servlet-mapping>
</web-app>